<div class="container-fluid p-0">
    <div class="card p-3 border-0">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-title">Transactions</h2>
            <button class="btn btn-primary" (click)="navigateToAddTransaction()">new transaction</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-white">
            <h3 class="card-title">Transaction History</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Transaction name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (transaction of transactions(); track transaction.transactionId) {
                    <tr>
                        <td class="align-middle">{{transaction.date | date:'d/M/yy'}}</td>
                        <td class="align-middle">{{transaction.transactionName}}</td>
                        <td class="align-middle">{{transaction.categoryName}}</td>
                        <td class="align-middle">{{transaction.amount + "" +
                            authService.currentUserLoggedIn()!.currency}}</td>

                        <td class="align-middle">
                            <div ngbDropdown class="d-inline-block">
                                <button id="dropdownMenuButtonTransactionButtons" ngbDropdownToggle
                                    class="btn btn-options">
                                    <img width="30px" height="30px"
                                        src="../../../assets/images/icon_transactions_dots.svg" alt="" />
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButtonTransactionButtons">
                                    <h6 class="title_options">Actions</h6>
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem (click)="editTransaction(transaction.transactionId)">Edit</button>
                                    <button ngbDropdownItem (click)="deleteTransaction(transaction.transactionId)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>